 
<aside class="right-side">
    <section class="content-header">
        <h1 localize-content>@_loc.GetLocalizedHtmlString("ListOfVolunteers").Value</h1>

    </section>
    <section class="content">
        <div class="span9">

            <ul class="nav nav-tabs" id="modTab" style="margin-bottom:0px;margin-left:5px;border-bottom: none;">
                <li class="active"><a id="tabEmployee" href="#tabPageEmployee" localize-content>@_loc.GetLocalizedHtmlString("Indemnity rules ").Value</a></li>
               

            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="tabPageEmployee">
                    <div id="Employee" class="reviewBlock" data-content="List" style="padding:15px;">
                        @{
                            Html.RenderPartial("_List");
                        }
                    </div>


                </div>
               
            </div>
        </div>
    </section>
</aside>