<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Social Transport Solutions</title>

    <link href="~/administration/themecss/bootstrap.css" rel="stylesheet" />
    <link href="~/administration/themecss/AdminLTE.css" rel="stylesheet" />
    <link href="~/administration/themecss/font-awesome.css" rel="stylesheet" />
    <link href="~/administration/themecss/ionicons.css" rel="stylesheet" />
    <link href="~/administration/css/style.css" rel="stylesheet" />
    <link href="~/administration/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/administration/themecss/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/administration/lib/jquery2.0.2.min.js"></script>
    <script src="~/administration/lib/bootstrap-datepicker.js"></script>
    <script src="~/administration/lib/select2/select2.js"></script>
    <link href="~/administration/lib/select2/select2.css" rel="stylesheet" />
    <link href="~/administration/lib/select2/select2-bootstrap.css" rel="stylesheet" />
    <link href="~/administration/images/css/flag-icon.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/administration/css/style.css" rel="stylesheet" />
    <link href="~/lib/vis/vis.min.css" rel="stylesheet" />
    <link href="~/administration/themecss/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
    <script src="~/administration/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/administration/themejs/AdminLTE/app.js"></script>
    <script src="~/administration/themejs/plugins/DataTables-1.10.20/js/jquery.dataTables.js"></script>
    <script src="~/administration/themejs/plugins/DataTables-1.10.20/js/dataTables.bootstrap.js"></script>
    <script src="~/administration/themejs/plugins/DataTables-1.10.20/js/jquery.dataTables.rowGrouping.js"></script>
    <script src="~/lib/vis/vis.min.js"></script>
    <link href="~/administration/lib/select2/select2.css" rel="stylesheet" />
    <link href="~/administration/lib/select2/select2-bootstrap.css" rel="stylesheet" />
    <script src="~/administration/lib/select2/select2.js"></script>
    <script src="~/administration/lib/moment-js/moment.js"></script>
    <script src="~/administration/themejs/plugins/Highcharts-4.0.1/highcharts.js"></script>
    <script src="~/administration/lib/datetimepickerJavaScript.js"></script>
    <script src="~/js/signalr.js"></script>
    <script src="~/administration/lib/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <link href="~/administration/themejs/plugins/progress/jquery.lineProgressbar.css" rel="stylesheet" />
    <script src="~/administration/themejs/plugins/progress/jquery.lineProgressbar.js"></script>
    <script src="~/js/common.js"></script>
</head>
<body class="skin-blue" ng-app="tacho-admin">
    
<partial name="_TopMenu" />
<partial name="_SideBarMenu" />
@RenderBody()


    @RenderSection("Scripts", required: false)
</body>
</html>
